.backlogin {
    font-size: 1.2srem;
    min-height: 100vh;
  }
  nav {
    display: block;
  }
  .back-color {
    // background: linear-gradient(#fbc2eb, #27eef8);
    // background: linear-gradient(0.25turn, #f5afe1e7, #ecee69c0, #27eef8);
    // background-image: linear-gradient(-225deg, #231557f1 0%, #43107ae3 29%, #ff1362cc 67%, #fff700c5 100%);
    background-image: linear-gradient(260deg, #3580f0 0%, #ee8bdf  100%);
  }
  
  .nav-link span {
    display: block;
    color: #000;
    font-size: 1rem;
  }
  
  